/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
Checklist.html
Checklist.pod
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
scripts/myperl.html
